ion-content{
    --padding-bottom: 30px;
    --padding-end	: 30px;
    --padding-start	: 30px;
    --padding-top :10px;
}

.title{
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #757575;
    font-weight: bold;
}

ion-icon {
    font-size: 74px;
    color: #707070;
}